<% if @employee %>
  <% @incentives.each do |incentive| %>
    <div>
      <b>Description: </b>
      <%= incentive.description %>
    </div>
    <div>
      <b>Amount</b>
      <%= incentive.amount.round(2) %>
    </div>
    <%= link_to('Edit', edit_employee_incentive_path(expense.employee,incentive)) %>
    <%= link_to('Destroy',employee_incentive_path(expense.employee,incentive),:confirm=>CONFIRM_DELETE, :method=>:delete) %>
  <% end %>
<% else %>
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Description</th>
      <th>Incentive In</th>
      <th class="numeric">Amount</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Total for <%= @search_date.to_s(:month_and_year) %></td>
      <td colspan="3" class="numeric"><%= @incentives.sum(:amount) %></td>
    </tr>
  </tfoot>
  <tbody>
    <% @incentives.each do |incentive|%>
      <tr class="<%= cycle("",:alt) %>">
        <td><%= link_to(incentive.employee.name,employee_incentives_path(incentive.employee)) %></td>
        <td><%=h truncate(incentive.description,:length=>25) %></td>
        <td><%=h incentive.incentive_at.to_s(:month_and_year) %></td>
        <td class="numeric"><%=h incentive.amount.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>