<% fields_for "incentives[]", incentive, :index=>nil do |f| %>
  <tr>
    <td><%= f.object.employee.name %></td>
    <td><%= f.text_field :amount %></td>
    <td><%= f.text_field :description %></td>
    <%= f.hidden_field :employee_id %>
    <%= f.hidden_field :incentive_at %>
    <% unless incentive.new_record? %>
      <%= f.hidden_field :id %>
    <% end  %>
  </tr>
<% end %>