<% form_for [@employee,@lta] do |f| %>
  <%= display_error_messages('ltas') %>
  <ul class="form">
    <%= f.text_field 'Date', :created_at,:class => 'datebalks' %>
    <%= f.text_field 'Amount', :amount %>
    <%= f.text_field 'Description', :description %>
  </ul>
  <p class="submit"><%= f.submit t('button.save'), :class => 'btn' %> <%= "#{t('common.or')}" %>
    <%= link_to(t('button.cancel'), employee_incentives_path(@employee)) %></p>
<% end %>
