<%= render :partial=>'companies/page_header' %>
<%= form_for(@department) do |f| %>
  <%= display_error_messages('department') %>
  <ul class="form">
    <%= f.text_field(t('department.name'), :name) %>
  </ul>
  <p class="submit">
    <%= f.submit t('button.save'), :class=>'btn' %> <%= "#{t('common.or')}" %>
    <%= link_to(t('button.cancel'), departments_path,:class => 'cancel') %>
  </p>
<% end %>
